.main-container{
    display: flex;
    justify-content: end;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
    background-image: url("./../images/main.jpg");
    background-size: cover;
}

.activity {
    margin-top: 30px;
    margin-right: 30px;
    padding: 15px 15px;
    background: rgba(255,250,100,0.3);
    width: 60%;
    height: max-content;
    border-radius: 20px;
    border: ghostwhite;

}


.hours, .minutes {
    margin:3px 3px;
    padding: 3px 3px;
    width: 35%;
}


.activity-name, .hours, .minutes {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
}

.label, .done, .add{
    color: -moz-default-background-color;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Noticia Text", serif;
}

.buttons {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
}

.column {
    animation: rotate 180s;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(2880deg);
    }
}


.add, .done {
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    background: rgba(0, 0, 80, 0.3);
}

